[submodule "semester_3/lowlevel/semester_3/lowlevel/assignment-2-dictionary"]
	path = semester_3/lowlevel/semester_3/lowlevel/assignment-2-dictionary
	url = https://gitlab.se.ifmo.ru/tenoly/assignment-1-io-library
