/* You can add global styles to this file, and also import other style files */

* {
    font-family: sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

@media (max-width: 1023px) {
    .mobile-hidden {
        display: none;
    }
}