html, body {
    padding: 0;
    margin: 0;
}

.header {
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
}

.header-container {
    display: grid;
    grid-template-columns: minmax(max-content, 2fr) 6fr minmax(max-content, 1fr);
    line-height: 55px;
    height: 55px;
    width: calc(100% - 40px);
    margin: auto;
}